<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs") -%>

<header class="container text-start my-5 d-flex flex-column g-4 text-light">
  <h1 class="my-2">Hello <span class="text-dark fw-bold bg-light rounded px-4"><%= name%></span></h1>
  <div class="my-2">

    <h2 class="bg-light text-dark rounded px-2 py-1   fs-2 d-inline ">Unlock Your Wellness:</h2>
  </div>
  <h3 class="my-2"> Navigate Your Diagnosis with Symptom-Based Insights</h3>
</header>
<main class="container-fluid ">
  <section class="container">
    <%- include("partials/background.ejs") -%>

    <form action="/getDiagnosis" id="getDiagnosisForm"  method="post" class="mb-3 border p-3 rounded d-flex flex-column">
        <textarea class="form-control" id="userSymptoms" placeholder="Input your symptoms" rows="3" name="userSymptoms" autofocus></textarea>
        <button class="btn btn-lg btn-outline-light m-3 w-50 mx-auto" type="submit">Get diagnosis</button>
    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
            <%= messages.error %>
        </div>
    <% } %>
  </form>
</section>
<section id="diagnosis" class="container rounded text-light">
        <P class="fs-4"><%=userDiagnosis%> </P>
</section>



</main>

<%- include("partials/footer.ejs") -%>